<section th:fragment="filtros"
         class="bg-white w-screen fixed top-16 z-40 border-b py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between px-6 gap-4">

        <div class="flex items-center gap-4">
            <form th:action="@{/publicaciones/home}" method="get">
                <div class="relative flex items-center mt-1">
                    <span class="material-icons absolute left-3 text-gray-400 pointer-events-none">search</span>
                    <input type="text" placeholder="Buscar publicaciones..." name="titulo"
                           class="w-full border border-gray-300 rounded pl-10 pr-4 py-2 focus:outline-none focus:ring-2-indigo-500"/>
                    <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-r hover:bg-indigo-700">Buscar</button>
                </div>
            </form>
        </div>

        <div class="ml-auto">
            <a th:if="${usuario != null}"
               th:href="@{/publicaciones/create}"
               title="Añadir publicación"
               class="flex items-center justify-center w-12 h-12 bg-white text-indigo-600 rounded-full hover:bg-indigo-100 transition">
                <span class="material-icons">add</span>
            </a>
            <a th:if="${usuario == null}"
               href="/login"
               title="Inicia sesión para subir una publicación"
               class="flex items-center justify-center w-12 h-12 bg-white text-gray-400 rounded-full hover:bg-gray-100 transition">
                <span class="material-icons">add</span>
            </a>
        </div>
    </div>
</section>
